<mat-toolbar class="primary"> 
    <span>
        <a routerLink="/" routerLinkActive="mat-accent"> Share Mind </a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/post/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign up</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button (click)="onLogOut()">Log out</button>
        </li>
    </ul>
</mat-toolbar>